@model IEnumerable<Blog.Models.Domain.BlogPost>


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All BlogPost - Admin Function</h1>
    </div>
</div>

<div class="container py-2">
    <table class="table table-vertical-borders">  
        <thead>
        <tr>
            <th>Id</th>
            <th>Heading</th>
            <th>Tags</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var blogPost in Model)
            {
                <tr>
                    <td>@blogPost.Id</td>
                    <td>@blogPost.Heading</td>
                    <td>
                        <div class="d-flex">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-2">@tag.Name</span>
                            }
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-light" asp-area="" asp-action="Edit" asp-controller="AdminBlogPosts" asp-route-id="@blogPost.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
